@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model DataScraping.Pages.IndexModel
@{
}

<html>
<head>
    <title>Data Scraping</title>
    <style>
        img {
            width: 100px;
            height: auto;
        }
    </style>
</head>
<body style="font-family:Cambria">
    <h4>Index Page</h4>
    <form method="post">

        Enter Product Name  <input type="text" id="srh" name="srh" />
        <input type="submit" value="Search" />

    </form>
    <table width="100%">
        <tr>
            <td>Photo</td>
            <td>Name</td>
            <td>Price</td>
            <td>Rating</td>
            <td>Link</td>
        </tr>
   
    @foreach (var item in Model.products)
    {
        <tr>
            <td><div style="width:50px"> @Html.Raw(@item.img)</div> </td>
            <td> @item.name</td>
            <td> @item.price </td>
            <td> @item.rating</td>
            <td><a href="@item.link" target="_blank"> View Product</a></td>
        </tr>

     

    }
    </table>
</body>
</html>


